.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  flex-direction: column;
  overflow: hidden;
}
.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 24px;
  text-align: center;
  height: auto;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.mt-5 {
  margin-top: 20px;
}
.w-100 {
  width: 100%;
}
